h1{
    color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
}
#F {
    color: chartreuse;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif; 
}
#conversao {
    color: blue;
}