img {
	width: 270px;
	height: 200px;
	display: block;		
}
body {
	width: 800px;
	padding-left: 350px;	
}
h1{
	background-color: orange;
	width: 550px;
	float: left;
	margin: 0;
	text-align: center;
	height: 70px;
	color: white;
}

p{
    text-align: center;
    margin: 1px;
		
}
div {
	margin-right: 10px;
	position: relative;	
	height:  300px;
	width: 270px;
	float: left;		
	font-family: 'Franklin Gothic Medium';
}
.principal{
	background-color: green;
	cursor: pointer;
	margin-left: 105px;	
	color: white;
	
}

#pediv{
	background-color: orange;
	height: 70px;
	width: 550px;	
	
	text-align: center;

}
.pe {
	margin: 1px;
	width: 200px;
	float: none ;
	background-color: white;
	margin-top: 30px;
}
#peenviar{
	width: 50px;
	background-color: yellow;

}
#info{

	background-color: #D3D3D3;
	height: 200px;
	width: 550px;
	text-align: center;

}
.infocont{
	height: 200px;	
	width:270px;
	margin: 0;
}