body{
	background: gray;
}

img{
	width: 200px;
	height: 200px;
	position: relative;
	left: -10px;
	clear: both;
}

.imag{
	background: white;
	width: 189px;
	height: 300px;
	padding: 20px;
	float: left;
	margin: 2px;
	border: solid 2px blue;
	overflow: scroll;
}


